

<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top mb-3r">
    <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">FurioSquad</a>
    <button class="navbar-toggler custombutton" type="button" data-toggle="collapse" data-target=".xxx"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse xxx" id="navbarSupportContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">O nas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Tags" asp-action="Index">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Posts" asp-action="Index">Blog</a>
            </li>
        </ul>
    </div>
</nav>
<script src="~/js/site.js" asp-append-version="true"></script>